include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js
    include includes/shared-graph

    // model files here
    +script(src="species/fast-plants-roots.js")
    +script(src="species/white-brown-rabbits.js")
    +script(src="species/hawks.js")
    +script(src="species/biologica/rabbits.js")
    +script(src="environments/combo.js")
    +script(src="models/hawk-rabbit-combo.js")
    +script(src="utils/getURLParams.js")

    style(type="text/css").
      #graph {
        position: absolute;
        top: 525px;
        left: 5px;
        width: 450px;
        height: 300px;
      }
      #graph2 {
        position: absolute;
        top: 525px;
        left: 470px;
        width: 450px;
        height: 300px;
      }

  body
    #above
      % Brown:
      input#starting-brown(value="50")
      % White:
      input#starting-white(value="50")
    #environment
    #controls
    #below
      #graph(class='graph')
      #graph2(class='graph')
